snippet hello
#include <stdio.h>
int main(int argc,char *argv[])
{
	${1}
	return 0;
}
endsnippet

snippet cfun "comments for function description"
/* Program : $1	
 * Function: $2
 * Date: `date +"%Y-%m-%d"`		Author: ben$3 */

endsnippet
